@import "./variables";
@import "./components/Layout";
@import "./components/Header";
@import "./components/Footer";
@import "./components/AlertBanner";
@import "./pages/contact";
@import "./components/Content";

html,
body {
  height: 100%;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#___gatsby,
#gatsby-focus-wrapper {
  height: 100%;
}

a {
  display: block;
}
